<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <scommerce_seobase>
            <general>
                <enabled>0</enabled>
                <license_key>[CHECK YOUR ORDER CONFIRMATION EMAIL FOR LICENSE KEY]</license_key>
            </general>			
        </scommerce_seobase>
    </default>
</config>