<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="scommerce" translate="label" sortOrder="400">
            <label>Scommerce Configuration</label>
        </tab>
        <section id="scommerce_seobase"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>SEO Base</label>
            <tab>scommerce</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Scommerce_SeoBase::config_seobase</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled"
                           translate="label comment"
                           type="select"
                           sortOrder="30"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This setting will enable or disable all modules related to seo optimisation. This includes <strong><a href="https://www.scommerce-mage.com/magento-2-canonical-urls-for-category-product-and-cms-pages.html">Canonical Urls</a>, <a href="https://www.scommerce-mage.com/magento-2-seo-unique-product-url.html">SEO Unique Catalog URLs</a>, <a href="https://www.scommerce-mage.com/magento-2-rich-snippets-for-google-microsoft-yahoo.html">Rich Snippets</a>, <a href="https://www.scommerce-mage.com/magento-2-google-sitemap-exclusion.html">Google Site Map Exclusion</a> and <a href="https://www.scommerce-mage.com/magento-2-alternate-hreflang.html">Alternate Hreflang tag</a></strong>]]></comment>
                </field>
                <field id="license_key"
                               translate="label"
                               type="text"
                               sortOrder="40"
                               showInDefault="1"
                               showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <comment><![CDATA[This setting will verify your license key for the give domain <div style='color:#ff0000;font-size:10px;font-weight:bold'>N.B. License keys are domain specific so for your testing or staging sites please email us at core@scommerce-mage.com</div>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
